body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vh;
}

.cell {
  background-color: lightgray;
  border: 1px solid black;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: grey;
}
